@model UnitOfWorkTrial.Models.User
@using UnitOfWorkTrial.Enums

@{
    ViewData["Title"] = "Login";
}

<h1 class="d-flex justify-content-center">User Login</h1>

<hr />

@if(ViewBag.Message != null){
    <p style="color: red">@ViewBag.Message</p>
}
<div class="d-flex justify-content-center align-items-center row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
           </br>
            <div class="form-group d-flex justify-content-center align-items-center row">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center row">
    Not Registered Yet? <a href="/Users/Registration" class="d-flex justify-content-center row">Click Here to SignUp</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
